.border {
  border-bottom: 1px solid var(--header-border-color);
}

.header-logo {
  padding: 24px 0 25px 0;
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.84;
  letter-spacing: 0.03em;

  color: #000000;
}

.header-list {
  display: flex;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list-contacts {
  display: flex;
  margin-left: auto;
}

.header-item:not(:last-child),
.contact-item:not(:last-child) {
  margin-right: 50px;
}

.header span {
  color: var(--accent-color);
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-title-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item {
  position: relative;
}

.header-item .current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: calc(100% + 4px);
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.email-icon,
.tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-email,
.header-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
