.team {
  background-color: var(--light-bgc);
}

.team-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.team-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-descr {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--main-text-color);
}

.team-card {
  padding: 30px 0;
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--team-card-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: var(--icon-color);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--icon-hover-color);
  }
}

.team-soc-icon {
  fill: currentColor;
}
